#include <physical_layouts.dtsi>

/ {
    charybdis_physical_layout: charybdis_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Charybdis 4x6";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   90       0     0     0>
            , <&key_physical_attrs 100 100  100   90       0     0     0>
            , <&key_physical_attrs 100 100  200   30       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   18       0     0     0>
            , <&key_physical_attrs 100 100  500   18       0     0     0>
            , <&key_physical_attrs 100 100 1100   18       0     0     0>
            , <&key_physical_attrs 100 100 1200   18       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   30       0     0     0>
            , <&key_physical_attrs 100 100 1500   90       0     0     0>
            , <&key_physical_attrs 100 100 1600   90       0     0     0>
            , <&key_physical_attrs 100 100    0  190       0     0     0>
            , <&key_physical_attrs 100 100  100  190       0     0     0>
            , <&key_physical_attrs 100 100  200  130       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  118       0     0     0>
            , <&key_physical_attrs 100 100  500  118       0     0     0>
            , <&key_physical_attrs 100 100 1100  118       0     0     0>
            , <&key_physical_attrs 100 100 1200  118       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  130       0     0     0>
            , <&key_physical_attrs 100 100 1500  190       0     0     0>
            , <&key_physical_attrs 100 100 1600  190       0     0     0>
            , <&key_physical_attrs 100 100    0  290       0     0     0>
            , <&key_physical_attrs 100 100  100  290       0     0     0>
            , <&key_physical_attrs 100 100  200  230       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  218       0     0     0>
            , <&key_physical_attrs 100 100  500  218       0     0     0>
            , <&key_physical_attrs 100 100 1100  218       0     0     0>
            , <&key_physical_attrs 100 100 1200  218       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  230       0     0     0>
            , <&key_physical_attrs 100 100 1500  290       0     0     0>
            , <&key_physical_attrs 100 100 1600  290       0     0     0>
            , <&key_physical_attrs 100 100    0  390       0     0     0>
            , <&key_physical_attrs 100 100  100  390       0     0     0>
            , <&key_physical_attrs 100 100  200  330       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  318       0     0     0>
            , <&key_physical_attrs 100 100  500  318       0     0     0>
            , <&key_physical_attrs 100 100 1100  318       0     0     0>
            , <&key_physical_attrs 100 100 1200  318       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  330       0     0     0>
            , <&key_physical_attrs 100 100 1500  390       0     0     0>
            , <&key_physical_attrs 100 100 1600  390       0     0     0>
            , <&key_physical_attrs 100 100  500  429       0     0     0>
            , <&key_physical_attrs 100 100  553  398    1000   400   790>
            , <&key_physical_attrs 100 100  603  358    2000   400   790>
            , <&key_physical_attrs 100 100  983  426 (-2000)  1100   790>
            , <&key_physical_attrs 100 100 1040  430 (-1000)  1100   790>
            , <&key_physical_attrs 100 100  553  498    1000   400   790>
            , <&key_physical_attrs 100 100  615  458    2000   400   790>
            , <&key_physical_attrs 100 100  970  527 (-2000)  1100   790>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        charybdis_physical_layout {
            physical-layout = <&charybdis_physical_layout>;
            positions = <>;
        };
    };
};

